.App {
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.game-container{
  /* background-color: darkcyan;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px; */
  
}

.quote-display{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 42, 50, 1);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin-top: -45vh;
margin-left: 550px;

}

