.App {
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}


.game-container{
  background-color: darkcyan;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
}

